// Scroll top
.scroll-top
  i.fa-solid.fa-arrow-up

.suport-online
  a.lazada(href='' target='_blank')
    img.logo-lazada(src='/images/lazada.png' alt='Lazada')
    span Lazada
  a.shopee(href='' target='_blank')
    img.logo-shopee(src='/images/shopee-logo.png' alt='Lazada')
    span Shopee
  a.hotline(href='' target='_blank')
    img.logo-hotline(src='/images/phone_preview.png' alt='Lazada')
    span Hotline
  a.messages(href='' target='_blank')
    img.logo-messages(src='/images/messages_preview.png' alt='Lazada')
    span Messages
